body {
  background-color: orange;
  margin: 0;
  padding: 0;
  font-family: Verana, sans-serif;
}

#wrap {
  width: 80%;
  margin: auto;
  background-color: tan;
}

header img {
  width: 70%;
}

header {
  padding: 30px;
  text-align: center;
}

nav {
  background-color: lightgrey;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  font-size: 170%;
  padding: 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
  color: black;
}

nav li {
  display: inline;
}

nav ul {
  margin: 0;
  padding: 0;
}

section {
  padding: 30px;
  overflow: auto;
}

.browntrout {
  width: 30%;
  float: right;
  margin-top: -30px;
}

.button {
  background-color: lightgrey;
  color: black;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  display: inline, block;
}

footer {
  background-color: orange;
  color: white;
  text-align: center;
  padding: 5px;
}
